body {
    font-family: "Prompt", sans-serif;
    background: radial-gradient(circle, rgba(230, 171, 196, 1) 16%, rgb(103, 103, 190) 100%) no-repeat fixed;

}

body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .04;
    z-index: -1;
    pointer-events: none;
    background-image: url(assets/noise.gif);
}
.title-container{
    height: 100vh;
}

.main-title {
    font-size: 9.6rem;
    color: #3a2b39;
    margin: 4rem 0 4rem 0;
    text-align: center;
    font-weight: 800;
    letter-spacing: -10px;
    opacity: 0.9;
}
.sub-title{
    font-size: 2.4rem;
    color: #3a2b39;
    margin: 0 0 6rem 0;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0.9;
}


.nav-button{
    color: #060606;
    letter-spacing: -1px;
    margin: 18px;
    padding: 2px 34px;
    font-family: Inter, sans-serif;
    font-size: 18px;
}

.nav-button:hover{
    background: rgba(255, 255, 255, 0.1);
    color: #060606;
    border-radius: 30px;
}

.icon-socials{
    text-decoration: none;
    color: #060606;
    opacity: 0.9;


}

.custom-card{

    border-radius: 30px;
    background-color: #1d1b3f;
    height: 100%;
    opacity:1;
}

.custom-card-bg{
    width: auto;
    opacity:1;
}

.project-description{

}