body{
    background: rgb(230,171,196);
    background: radial-gradient(circle, rgba(230,171,196,1) 16%, rgba(100,97,170,1) 100%);
    font-family: "Prompt", sans-serif;
}
body::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .03;
    z-index: 1000;
    pointer-events: none;
    background-image: url(assets/noise.gif);
}

.main-title{
    font-size: 6rem;
    color: #3a2b39;
    text-align: center;
    margin-top: 4rem;
    font-weight: 800;
    letter-spacing: 2px;
    opacity: 0.9;
}
